<div class="col-sm-12">
  <div class="col-sm-8">
    <h1>Nadolazece Svirke</h1>  
  </div>
  <div class="col-sm-4">
    <%= link_to "Nova svirka", new_gig_path, class: "btn btn-primary" %>
  </div>
  
  <% if @upcoming_gigs.blank? %>
    <div class="col-sm-12 text-center">
      <h3>Nema svirki, vatajte se birtija</h3>  
    </div>
  <% else %>
    <div class="col-sm-12">
      <%= render "gigs_table", gigs: @upcoming_gigs %>
    </div>
  <% end %>


  <h1>Iduca godina i nadalje</h1>
  <% if @next_gigs.blank? %>
    <div class="col-sm-12 text-center">
      <h3>Jos uvijek nista?! zbilja se zajebavate</h3>
    </div>
  <% else %>
    <%= render "gigs_table", gigs: @upcoming_gigs %>
  <% end %>
</div>