<div class="col-sm-12">
  Pregled svirki po tipu i godinama
</div>


<% @years.each do |y| %>
  <div class="col-sm-12 col-lg-6">
    <p><%= y %></p>
    <%= column_chart Gig.where("extract(year from gig_date) = ?", y).group(:gig_type).count %>
  </div>
<% end %>
